<footer>
  <div class="main--7">

    <div class="info info--foot">
      <a href="https://www.sanderson.pro/"><h1 class="link link--contact info--bold">Jonathan Sanderson</h1></a>
      <a href="mailto:jonathan@sanderson.pro?Subject=Hey%20there">
        <h3 class="link link--contact info--light">jonathan@sanderson.pro</h3></a>
      <a href="tel:+01-587-774-0994">
        <h3 class="link link--contact info--light">(587) 774 - 0994</h3></a>
    </div>

    <div class="social--foot">
      <a href="https://www.linkedin.com/"><i class="link link--social fa fa-linkedin"></i></a>
      <a href="https://www.behance.net/"><i class="link link--social fa fa-behance-square"></i></a>
      <a href="https://github.com/"><i class="link link--social fa fa-github"></i></a>
    </div>

  </div>
</footer>
