<div class="grid2">
  <div class="col2 empty"></div>
  <div class="col2 seen seen--head">
    <div class="colnest colnest--head"></div>
    <div class="colnest colnest--head"></div>
    <div class="colnest colnest--head"></div>
    <div class="colnest colnest--head"></div>
    <div class="colnest colnest--head"></div>
    <div class="colnest colnest--head"></div>
  </div>
</div>
<!-- <div class="grid1">
  <div class=" col1 col1--head"></div>
  <div class=" col1 col1--head"></div>
  <div class=" col1 col1--head"></div>
  <div class=" col1 col1--head"></div>
  <div class=" col1 col1--head"></div>
  <div class=" col1 col1--head"></div>
  <div class=" col1 col1--head"></div>
</div> -->
