<div class="main-above">
  <div class="main--5 grid-show2">
    <div class="col1"></div>
    <div class="col1"></div>
    <div class="col1"></div>
    <div class="col1"></div>
    <div class="col1"></div>
  </div>
  <div class="main--5">
    <div class="info">
      <h1 class="info--bold">Jonathan Sanderson</h1>
      <a href="mailto:jonathan@sanderson.pro?Subject=Hey%20there">
        <h3 class="info--light">jonathan@sanderson.pro</h3></a>
      <a href="tel:+01-587-774-0994">
        <h3 class="info--light">(587) 774 - 0994</h3></a>
    </div>
  </div>
  <div class="main--6">
    <div class="services--main">
      <h2>Digital Design</h2>
      <h2>Development</h2>
    </div>
    <div class="services--main ampersand">
      <h2>&</h2>
    </div>

  </div>
  <div class="main--6 main--6__services">
    <ul class="services services--left">
      <li>Brand Identity</li>
      <li>Websites & Applications</li>
      <li>Business cards</li>
      <li>User Experiences</li>
    </ul>
    <ul class="services services--right">
      <li>Web Functionality</li>
      <li>Growth strategies</li>
      <li>Social campaigns</li>
      <li>Personal projects</li>
    </ul>
  </div>

  <div class="hover-box main--5">
    <a href=#contact class="button--location">
      <button class="contact" type="button" name="button">Get Started</button>
      <div class="img--circle__tooltip">
        <img class="img img--circle"src="../circle-strk.svg" alt="">
      </div>
    </a>
  </div>

</div>
