<div class="home-below">

  <div id="about">
    <div class="main--5">
      <h3 class="info info--bold info--hi">Hi!</h3>
    </div>

    <div class="main--6">
      <div class="content content--top">
        <p>Hello there, thanks for visiting.
          <span class="hover-box"><img class="img img--smiler"src="../smiler.png" alt="">
            <span class="img--smiler__text"><img class="img img--hi"src="../hi-line.svg" alt=""></span>
          </span>
        </p>
      </div>
      <div class="content content--bottom">
        <p>Are you considering working on a project together?</p>
        <p>Perhaps, just want to know a little more about me?</p>
        <p>No problem!</p>
        <p>I am a world traveler, and a lifelong learner. I love to learn new skills, and develop novel perspectives. I taught myself how to juggle, how prepare a five course dinner, and to how to build websites. Formally, I graduated from the University
          of Alberta with a specialization in Civil, and Biomedical Engineering. I find myself most at home while balancing technical tasks with intuitive feedback. I love art and science.</p>
        <p>Send me a message today and we can chat about your next project!</p>
        <p>Currently learning: react.js, how to make hot sauce, and tensor calculus.</p>
      </div>
    </div>
    <div class="main--5">
      <h3 class="info info--bold info--right">-JS, 04/18</h3>
    </div>
  </div>

  <div id="contact">

    <div class="main--5">
      <h3 class="info info--bold">Let's get in touch</h3>
    </div>

    <form action="https://formcarry.com/s/SyvCSghqM" method="POST" accept-charset="UTF-8">
      <div class="main--6">
        <input class="form--el form--fname" type="text" name="first_name" placeholder="First Name">
        <input class="form--el form--lname" type="text" name="last_name" placeholder="Last Name">
        <input class="form--el  form--email" type="email" name="email" placeholder="Email">
        <input class="form--el  form--number" type="tel" name="number" placeholder="Phone">
        <input type="hidden" name="_gotcha">
        <!-- use this to prevent spam -->
        <textarea class=" form--el form--msg" id="msg" name="user_message" placeholder="Hello there..."></textarea>
      </div>

      <div class="main--5">
        <div class="hover-box form--tooltip">
          <input class="contact" type="submit" name="" value="Send">
          <div class="img--check__tooltip">
            <img class="img img--check" src="../check.svg" alt="">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
