.home-below {}

#about {
  min-height: calc(1.25em*24);
  @media (min-width: 42.5) {
    padding-bottom: calc(1.25em*1);
  }
}

.info--hi {
  /* margin-bottom: calc(1.25em*1); */
}

.content {
  grid-column: 2 / span 4;
}

.content--top {
  grid-column: 2 / span 5;
}

.img--smiler {
  width: calc(1.25em*2.18);
  position: relative;
  top: calc(1.25em*.5);
  padding-left: calc(1.25em);
  transform: rotateZ(-10deg);
  transition: all 0.3s ease;
}

.img--smiler:hover {
  width: calc(1.25em*2.8);
  top: calc(-1.25em*.15);
  transform: rotateZ(5deg);
}

.hover-box .img--smiler__text {
  position: relative;
  opacity: 0;
  transition: all .3s ease;
}

.hover-box:hover .img--smiler__text {
  opacity: 1;
}

.img--hi {
  position: absolute;
  width: calc(1.25em*2.18);
  bottom: calc(1.25em*.85);
}

p {
  font-family: var(--font-sans);
  font-size: calc(1.25em*.75);
  line-height: calc(1.25em*1.5);
  @media (min-width: 42.5em) {
    font-size: calc(1.25em);
    line-height: calc(1.25em*2);
  }
}

p:nth-child(n) {
  padding-top: calc(1.25em*.5);
}

#contact {
  min-height: calc(1.25em*18);
  padding-bottom: calc(1.25em*2);
}
