@import "imports/reset.css";
@import "imports/grid.css";
@import "imports/home.css";
@import "imports/home-above.css";
@import "imports/home-below.css";
@import "imports/form.css";
@import "imports/foot.css";

:root {
  --font-sans: 'Fira Sans', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --color-black: #06070E;
  --color-grey: #8B8F98;
  --color-blue: #56CBF9;
  --color-pink: #FF4B9B;
  --color-pink-dark1: #BF3874;
  --color-pink-dark2: #80264D;
  --color-yellow: #FFE84B;
  --color-white-cream: #FFFCF9;
  --color-white-grey: #E3F2FD;
  --color-white-blue: #DDF5FE;
}

body {
  background: var(--color-white-cream);
  color: var(--color-black);
  margin: 0 auto;
  overflow-x: hidden;
  font-size: 0.75em;
  width: 100%;
  @media (min-width: 30em) {
    font-size: 1em;
  }
  @media (min-width: 87.5em) {
    font-size: 1.25em;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  text-align: left;
}

a {
  text-decoration: none;
}

input:focus {
  outline: calc(1.25em*.2) solid var(--color-blue);
  @media (min-width: 30em) {
    outline: calc(1.25em*.1) solid var(--color-blue);
  }
}

textarea:focus {
  outline: calc(1.25em*.2) solid var(--color-blue);
  @media (min-width: 30em) {
    outline: calc(1.25em*.1) solid var(--color-blue);
  }
}

.link {
  color: var(--color-pink-dark2);
  transition: all .2s ease;
}

.link:hover {
  color: var(--color-pink);
}

.link:active {
  color: var(--color-pink-dark1);
}

.link--contact, .link--social {
  opacity: .5;
}

.link--contact:hover, .link--social:hover {
  opacity: .8;
}

.link--contact:active, .link--social:active {
  color: var(--color-pink);
  opacity: .6;
}
